<h1>Known worlds</h1>

<ul>
  <% @worlds.each do |world| %>
    <li><%= link_to world.name, [:edit, world] %> (<%= world.distance %> m)</li>
  <% end %>
</ul>

<p>
  <%= link_to 'New World', new_world_path %>
</p>